{% extends 'base.html.twig' %}

{% block title %}Create Invitation{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div>
                Get you invitation code for tinc network.
            </div>

            <table>
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <tr>
                    <td>{{ form_label(form.Name) }}</td>
                    <td>{{ form_errors(form.Name) }}</td>
                    <td>{{ form_widget(form.Name) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.IsStaticOrDynDNS) }}</td>
                    <td>{{ form_errors(form.IsStaticOrDynDNS) }}</td>
                    <td>{{ form_widget(form.IsStaticOrDynDNS) }}</td>
                </tr>

                <tr id="detail-1" style="visibility: hidden;">
                    <td colspan="3">Ensure your node is reachable under this address:port from the internet. (Setup Port-Forwarding)</td>
                </tr>
                <tr id="detail-2" style="visibility: hidden;">
                    <td>{{ form_label(form.Address) }}</td>
                    <td>{{ form_errors(form.Address) }}</td>
                    <td>{{ form_widget(form.Address) }}</td>
                </tr>
                <tr id="detail-3" style="visibility: hidden;">
                    <td>{{ form_label(form.Port) }}</td>
                    <td>{{ form_errors(form.Port) }}</td>
                    <td>{{ form_widget(form.Port) }}</td>
                </tr>

                <tr>
                    <td colspan="3">{{ form_widget(form.save) }}</td>
                </tr>
                {{ form_end(form) }}
            </table>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    document.getElementById('form_IsStaticOrDynDNS').onclick = function() {
        if ( this.checked ) {
            document.getElementById('detail-1').style.visibility = 'visible';
            document.getElementById('detail-2').style.visibility = 'visible';
            document.getElementById('detail-3').style.visibility = 'visible';
        } else {
            document.getElementById('detail-1').style.visibility = 'hidden';
            document.getElementById('detail-2').style.visibility = 'hidden';
            document.getElementById('detail-3').style.visibility = 'hidden';
        }
    };
</script>
{% endblock %}